.figlio0 {
  border-top: solid;
  border-color: #f7ebcb;
  height: 80px;
  width: 100%;
  background-color: #fdfbf1;
}
#figlio1 {
  width: 40%;
  margin-inline: auto;
}
#figlio3 {
  border-left: solid;
  color: #ffda7e;
  height: 40px;
  max-width: 100%;
}
#figlio4 {
  border-bottom: solid;
  color: #c5f3f2;
  height: 40px;
  max-width: 100%;
}
#txt1,
#txt2,
#txt3,
#txt4,
#txt5,
#txt6,
#txt6,
#txt7,
#txt8 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#txt5 {
  color: #107777;
}
#txt1 {
  margin-top: 70px;
}
#txt3,
#txt4,
#txt1,
#txt5,
.logo {
  text-align: center;
}
#txt4 {
  color: #a1a1a1;
}
#txt6 {
  margin: 0%;
  margin-left: 10px;
  color: #cf8868;
}
#txt7 {
  margin: 0%;
  margin-left: 10px;
  color: mediumturquoise;
}
#txt8 {
  color: black;
  margin-top: 10%;
}
li {
  margin-bottom: 10px;
}
.focaccia {
  border-radius: 10px 10px 10px 10px;
  max-width: 100%;
}
